@page
@model NRepository.RazorPages.Pages.CTViewModel.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ContactType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactType.ID" class="control-label"></label>
                <input asp-for="ContactType.ID" class="form-control" />
                <span asp-validation-for="ContactType.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactType.Name" class="control-label"></label>
                <input asp-for="ContactType.Name" class="form-control" />
                <span asp-validation-for="ContactType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactType.Description" class="control-label"></label>
                <input asp-for="ContactType.Description" class="form-control" />
                <span asp-validation-for="ContactType.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactType.ParentID" class="control-label"></label>
                <input asp-for="ContactType.ParentID" class="form-control" />
                <span asp-validation-for="ContactType.ParentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactType.IsActive" class="control-label"></label>
                <input asp-for="ContactType.IsActive" class="form-control" />
                <span asp-validation-for="ContactType.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
