@page
@model NRepository.RazorPages.Pages.NewFolder.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ContactAddress</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactAddress.ContactGUID" class="control-label"></label>
                <select asp-for="ContactAddress.ContactGUID" class ="form-control" asp-items="ViewBag.ContactGUID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.Name" class="control-label"></label>
                <input asp-for="ContactAddress.Name" class="form-control" />
                <span asp-validation-for="ContactAddress.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.Street" class="control-label"></label>
                <input asp-for="ContactAddress.Street" class="form-control" />
                <span asp-validation-for="ContactAddress.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.Street2" class="control-label"></label>
                <input asp-for="ContactAddress.Street2" class="form-control" />
                <span asp-validation-for="ContactAddress.Street2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.City" class="control-label"></label>
                <input asp-for="ContactAddress.City" class="form-control" />
                <span asp-validation-for="ContactAddress.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.State" class="control-label"></label>
                <select asp-for="ContactAddress.State" class ="form-control" asp-items="ViewBag.State"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.Province" class="control-label"></label>
                <input asp-for="ContactAddress.Province" class="form-control" />
                <span asp-validation-for="ContactAddress.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.ZipCodeExtension" class="control-label"></label>
                <input asp-for="ContactAddress.ZipCodeExtension" class="form-control" />
                <span asp-validation-for="ContactAddress.ZipCodeExtension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.ZipCode" class="control-label"></label>
                <input asp-for="ContactAddress.ZipCode" class="form-control" />
                <span asp-validation-for="ContactAddress.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.Country" class="control-label"></label>
                <input asp-for="ContactAddress.Country" class="form-control" />
                <span asp-validation-for="ContactAddress.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ContactAddress.IsPrimary" /> @Html.DisplayNameFor(model => model.ContactAddress.IsPrimary))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.TimeZone" class="control-label"></label>
                <input asp-for="ContactAddress.TimeZone" class="form-control" />
                <span asp-validation-for="ContactAddress.TimeZone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.Longitude" class="control-label"></label>
                <input asp-for="ContactAddress.Longitude" class="form-control" />
                <span asp-validation-for="ContactAddress.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.Latitude" class="control-label"></label>
                <input asp-for="ContactAddress.Latitude" class="form-control" />
                <span asp-validation-for="ContactAddress.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress.ZipCodeString" class="control-label"></label>
                <input asp-for="ContactAddress.ZipCodeString" class="form-control" />
                <span asp-validation-for="ContactAddress.ZipCodeString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
