
@using  EvitiContact.Domain.ContactModelDB
@{

    //these are the client template view that are regndered in javascript that allow the add buttons to work
    // and grap new "row" templates
    var DummyContact = new ContactViewModel
    {
        ContactPhones = new List<ContactPhoneViewModel>()
    };
    DummyContact.ContactPhones.Add(new ContactPhoneViewModel());

    DummyContact.ContactAddresses = new List<ContactAddressViewModel>
{
new ContactAddressViewModel()
};


    DummyContact.ContactEmails = new List<ContactEmailViewModel>
{
new ContactEmailViewModel()
};

}
<p>Test test</p>
<script id="templateEmailRow" type="text/template">
    @Html.EditorFor(model => DummyContact.ContactEmails, "ContactEmailEdit")
</script>

<script id="templateAddressRow" type="text/template">
    @Html.EditorFor(model => DummyContact.ContactAddresses, "ContactAddressEdit")
</script>

<script id="templatePhonesRow" type="text/template">
    @Html.EditorFor(model => DummyContact.ContactPhones, "ContactPhoneEdit")
</script>


@*@if (Model[i].Id > 0)
    {*@

<button class="btn btn-xs btn-danger pull-right" style="margin-top:6px;" >
    <span class="glyphicon glyphicon-trash"></span>
</button>
@*<button class="btn btn-xs btn-danger pull-right" style="margin-top:6px;" onclick="delectClientItem(@Model[i].Id, 'ClientClaim')">
    <span class="glyphicon glyphicon-trash"></span>
</button>*@
@*}*@
